$future-features-color: #ff7e24;
$implemented-features-color: #4b90ff;

$icon-size: 50px;

$smartphone-size: 450px;
$max-column-width: 1000px;

.about-page-container {
    background-color: #FFF;
    padding-bottom: 50px;

    section {
        margin: 20px 0;
    }
}

.about-page-column {
    @media (min-width: $max-column-width) {
        max-width: $max-column-width;
        margin-left: auto;
        margin-right: auto;
    }
}

.about-image-container {
    position: relative;
}

.about-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.about-logo {
    display: none;
    width: 30vw;
    top: 35px;
    left: 35px;
    position: absolute;
    object-fit: contain;
}

.about-logo-bottom-bar {
    position: absolute;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media (max-width: 750px) {
        // TODO check
        // text-align: center;

        .tag-line {
            font-size: 3vw;
        }
    }

    .tag-line {
        text-transform: uppercase;
        margin: 0;
    }
}

.about-partners {
    top: 40px;
    right: 40px;
    position: absolute;

    // TODO change to 'flex'
    display: none;
    justify-content: space-around;
}

.about-partners > i {
    margin: 0 10px;
}

section.team {
    margin: 20px;

    article {
        header, div {
            text-align: center;
        }

        header {
            font-size: 3rem;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}

section.ack article {
    header, div {
        text-align: center;
    }

    header {
        font-size: 3rem;
        font-weight: bold;
        text-transform: uppercase;
    }

    .ack-img {
        width: 50%;
        height: 50%;
        object-fit: contain;
        margin: 30px 0;
    }
}

.flex-box {
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-between;
}

section.team-members {
    padding: 20px;

    li.member {
        // height: 200px;
        // width: 120px;
        margin: 0 40px 20px;
        // text-align: center;

        .section-header {
            text-transform: uppercase;
            font-weight: bold;
        }

        .thumbnail {
            margin: 0;
            position: relative;
            overflow: hidden;

            @media (min-width: $smartphone-size) {
                width: 200px;
                height: 200px;
            }

            @media (max-width: $smartphone-size) {
                width: 100px;
                height: 100px;
            }

            img {
                position: absolute;
                left: 50%;
                top: 50%;
                height: 100%;
                width: auto;
                -webkit-transform: translate(-50%,-50%);
                -ms-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
            }
            img.portrait {
                width: 100%;
                height: auto;
            }
        }

        header {
            font-size: 2rem;
            text-transform: uppercase;
            color: $future-features-color;
        }

        .text-box {
            margin-left: 20px;
        }

        .member-name {
            font-size: 2rem;
        }

        .social-holder > ul {
            list-style: none outside none;
            margin: 0;
            padding: 0;

            display: flex;
            flex-direction: row;
            justify-content: space-around;

            li.contact {
                display: inline;
                list-style-type: none;
            }
        }
    }

    hr {
        width: 80%;
        border-top-color: $future-features-color;
    }

    .landing-page-section-icon {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        // Material Design Icons
        svg {
            color: $future-features-color !important;
            width: $icon-size !important;
            height: $icon-size !important;
        }

        // Font Awesome Icons
        i {
            color: $future-features-color;
            font-size: $icon-size;
        }
    }
}
