html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Oxygen', sans-serif;
    background: #d3d3d3 no-repeat;
}

h1 {
    color: blue;
}

hr {
    width: 10%;
    color: #fff;
}

label {
    margin-bottom: 15px;
}

input, input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}
