body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.colorPrimary{
    background-color: #012935;
}

.colorAccent{
    background-color: #E5402A;
}

.colorAccentSecundary{
    background-color: #39A8E0;
}



