html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Oxygen', sans-serif;
    background: #d3d3d3 no-repeat;
}

h1 {
    color: blue;
}

hr {
    width: 10%;
    color: #fff;
}

label {
    margin-bottom: 15px;
}

input, input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.colorPrimary{
    background-color: #012935;
}

.colorAccent, .colorAccent:hover{
    background-color: #E5402A;
    border-color: transparent;
}

.colorAccentSecondary{
    background-color: #39A8E0;
    border-color: transparent;
}

.main {
    margin: 35px;
}
