.tags-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.tag-list-wrapper {
    padding-bottom: 10px;
}

.tag-look {
    height: 2.1em;
    margin: 4px !important;
    color: white !important;
    background-color: #E5402A !important;
}
