.logButton {
    font-weight: bold;
}

.navbar {
    z-index: 2;
    border-radius: 0 !important;
    background-color: #012935 !important;
    color: #012935 !important;
    margin-bottom: 0 !important;
}

.navbar-inverse {
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.app-logo {
    padding: 6px 30px !important;
}
