.side-container {
    z-index: 0 !important;
    background-color: #012935 !important;
    padding: 15px;
    padding-top: 65px;
    min-width: 350px !important;
}

.poi-detail-button {
    background-color: #39A8E0 !important;
    color: white !important;
    margin: 4px !important;
}

.poi-rating {
    margin: 10px;
    padding-bottom: 20px;
}

.poi-detail-buttons {
    text-align: right;
    margin-top: 15px;
}

.side-drawer {
    position: relative;
    z-index: 1;
}
